html, body {
    height: 100%;
}
body {
    font-family: 'Arial'
}
.button1 {
    cursor: pointer;
    position: absolute;
    top: 38px;
    left: -115px;
    color: #000000;
    width: 200px; 
    height: 40px; 
    border-radius: 0px 70px 0px 0px;
    border: 0px solid #ffcd00; 
    transform: skew(25deg);   
    background: #ffcd00; 
}
.textoExp1{
    font-family: 'Arial Black';
    font-size: 20px;
    text-align: left;
    font-style: oblique;
}
.button2 {
    cursor: pointer;
    position: absolute;
    top: 38px;
    left: -115px;
    color: #000000;
    width: 200px; 
    height: 45px; 
    border-radius: 0px 70px 0px 0px;
    border: 0px solid #ffcd00; 
    transform: skew(25deg);   
    background: #ffcd00; 
}
.textoExp2{
    font-family: 'Arial Black';
    font-size: 20px;
    text-align: left;
    font-style: oblique;
}
/*.division1{
    margin: -50% 37%;
    width: 100px; 
    height: 90px; 
    background: #ffffff;
    display: block;
    border-radius: 0 100% 0 100%;
    border-top: 10px solid #56c7da;
    border-right: 10px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
}*/
.cuadrado1{
    position: absolute;
    left: 615px;
    top: 150px;
    width: 220px;
    height: 50px;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    border: 0px solid #000000;
    background: #e8e6e1;
}
.cuadrado2{
    position: absolute;
    left: 625px;
    top: 445px;
    width: 220px;
    height: 50px;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    border: 0px solid #000000;
    background: #e8e6e1;
}
.division1{
    position: absolute;
    left: 470px;
    top: 20px;
    /*margin: 0px 500px;*/
    width: 15px; 
    height: 80px; 
    background: #1c727f;
}
.division2{
    position: absolute;
    left: 470px;
    top: 120px;
    /*margin: 0px 600px;*/
    width: 15px; 
    height: 80px; 
    background: #56c7da;
}
.division3{
    position: absolute;
    left: 470px;
    top: 220px;
    width: 15px; 
    height: 80px; 
    background: #c4c9c7;
}
.division4{
    position: absolute;
    left: 470px;
    top: 320px;
    width: 15px; 
    height: 80px; 
    background: #1c727f;
}
.division5{
    position: absolute;
    left: 470px;
    top: 420px;
    width: 15px; 
    height: 80px; 
    background: #56c7da;
}
.division6{
    position: absolute;
    left: 470px;
    top: 520px;
    width: 15px; 
    height: 80px; 
    background: #c4c9c7;
}
.circuloMayor{
    position: absolute;
    left: 40px;
    top: 110px;
    /*margin: 57% 4%;*/
    width: 310px;
    height: 310px;
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #56c7da;
    border: 33px solid #c4c9c7;
}
.header {
    margin: 6% 6.5%;
    width: 220px;
    height: 220px;
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1c727f;
    border: 25px solid #ffffff;
}
.textoTit{
    font-family: 'Arial Black';
    text-align: center;
    font-size: 24px;
    margin: 35% 5%;
    color: #ffffff;
}
.textoTit2{
    font-family: 'Arial Black';
    text-align: center;
    font-size: 34px;
    margin: -40% 5%;
    color: #ffffff;
}
.contenedor1{
    position: absolute;
    top: 95px;
    left: 780px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #000000;
}
.textoCon1{
    font-family: 'Arial Black';
    text-align: center;
    font-size: 24px;
    margin: 8px -5px;
    color: #ffffff;
}
.contenedor2{
    position: absolute;
    top: 390px;
    left: 790px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #000000;
}
.textoCon2{
    font-family: 'Arial Black';
    text-align: center;
    font-size: 24px;
    margin: 8px -5px;
    color: #ffffff;
}
.circulo1 {
    position: absolute;
    top: 245px;
    left: 500px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1c727f;
}
.circulo2 {
    position: absolute;
    top: 345px;
    left: 500px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1c727f;
}
.linea1{
    position: absolute;
    top: 170px;
    left: 535px;
    width: 60px; 
    height: 100px; 
    border-right: 1px solid transparent;
    border-top: 2px solid #1c727f;
    border-left: 2px solid #1c727f;
    border-bottom: 1px solid transparent;
    transform: skew(-25deg);   
    background: transparent; 
}
.linea2{
    position: absolute;
    top: 365px;
    left: 545px;
    width: 60px; 
    height: 100px; 
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 2px solid #1c727f;
    border-bottom: 2px solid #1c727f;
    transform: skew(25deg);   
    background: transparent; 
}
@media only screen and (min-width:300px){
    .container {
        width: 300px;
        margin: 0 auto;
    }
}
 
@media only screen and (min-width:600px){
    .container {
        width: 580px;
        margin: 0 auto;
    }
    .third {
        float: left;
        width: 47.5%;
        margin-left: 5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width:767px){

}
 
@media only screen and (min-width:960px){
    .container {
        width: 940px;
    }
    .third {
        float: left;
        width: 30%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        margin-right: 0;
        margin-left: 2.5%;
        width: 30%;
    }
}
@media only screen and (min-width:1140px){
    .container {
        width: 1120px;
    }
}
@media only screen and (min-width:1360px){
    .container {
        width: 1300px;
    }
}